cffi==1.11.5
click==6.7
Flask==1.0.2
Flask-Markdown==0.3
Flask-Misaka==0.4.1
Flask-PageDown==0.2.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
lemma-tokenizer==0.0.1
Markdown==2.6.11
MarkupSafe==1.0
misaka==2.1.0
nltk==3.3
numpy==1.14.5
pandas==0.23.3
pycparser==2.18
python-dateutil==2.7.3
pytz==2018.5
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.9
Werkzeug==0.14.1
WTForms==2.2.1
gunicorn==19.8.1
