{% extends "base.html" %}

{% block corps %}
<div class="container " >
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <form action="{{url_for("result")}}" method = "POST">
         <fieldset>
            <legend > <img src="{{url_for('static', filename='image/so-logo.png')}}" alt="Stack Overflow"> </legend>
            <div id="title" class="title">{{ form.title(placeholder="Title goes here...") }}</div>

            {{ form.hidden_tag() }}
            <div class="container row" >

                    <div id="box" class="left-half">
                        {{ form.pagedown(only_input=True, placeholder="Ask your question here (in mark-up language)...") }}
                    </div>
                     <div id="box"  class="right-half">
                        {{ form.pagedown(only_preview=True) }}
                    </div>
            </div>

            </div>
            {{ form.submit }}
            </div>


         </fieldset>
      </form>
     </div>
    </div>
</div>
{% endblock %}
